@import url("https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@500&family=Martel+Sans:wght@400;600;900&family=Merienda&family=Montserrat:wght@200;800;900&family=Orbitron:wght@500&family=Pacifico&family=Playfair+Display&family=Poppins:wght@300;500;600;700;900&family=Press+Start+2P&display=swap");

body,
html {
	height: 100%;
}
body {
	margin: 0;
	padding: 0;
}
body {
	font-weight: 200;
	/* font-size: 1.5rem; */
}

.intro-left {
	background: url(../images/minimal-bg.jpg);
	z-index: -9999;
	position: fixed;
	left: 0;
	width: 33.3333%;
	height: 100%;
	color: rgb(80, 77, 77);
}
@media (max-width: 768px) {
	.intro-left {
		height: auto;
		margin-bottom: 0;
		position: relative;
		width: 100%;
	}
}

.avatar {
	width: 8.5rem;
	height: 8.5rem;
	border-radius: 50%;
	margin: 1rem;
}

.av-full-height {
	height: 100%;
}

#change {
	/* color: #9336b4; */
	color: rgb(80, 77, 77);
	/* font-size: 40px; */
	text-transform: uppercase;
	font-weight: 900;
	border: 2px solid #9336b4;
}
@media (min-width: 768px) {
	#change {
		font-size: 23px;
	}
}

@media (min-width: 992px) {
	#change {
		font-size: 25px;
	}
}
@media (min-width: 1200px) {
	#change {
		font-size: 35px;
	}
}

@media (min-width: 1400px) {
	#change {
		font-size: 42px;
	}
}

#change:after {
	content: "";
	position: relative;
	animation: change infinite 6s;
}

@keyframes change {
	0% {
		content: "Web Developer";
	}
	20% {
		content: "Career Switcher";
	}
	40% {
		content: "Head Pastry Chef";
	}
	60% {
		content: "Crafter";
	}
	80% {
		content: "Skateboarder";
	}
	90% {
		content: "Footballer";
	}

	100% {
		content: "Web Developer";
	}
}

/*==========  LEFT SIDE STAYLES =========*/

/*==========  NAVBAR/ FOOTER STAYLES =========*/
nav {
	background-color: #9336b4;
	font-size: 1.5rem;
}
h1 {
	margin: 0;
	padding: 0;
}

.navBar a {
	color: rgb(3, 3, 3) !important;
}

.footer a {
	color: rgb(41, 40, 40);
	text-decoration: none;
	position: relative;
}

.navBar a:hover {
	color: rgb(236, 235, 235) !important;
}

.display-text {
	font-family: "Edu TAS Beginner";
	border: 5px solid whitesmoke;
	color: whitesmoke;
	border-radius: 50%;
	padding: 20px;
}
.letter {
	color: rgb(30, 30, 30);
}
/* LG */
@media (min-width: 992px) {
	.display-text {
		font-size: 2rem;
	}
}
/* XL */
@media (min-width: 1200px) {
	.display-text {
		font-size: 2.1rem;
	}
}
/* XXL */
@media (min-width: 1400px) {
	.display-text {
		font-size: 2.8rem;
	}
}
/* ========== NAVBAR STYLES  ========== */
/* ========== OVERALL SECTION  STYLES  ========== */

.custom-border {
	border-bottom: 4px solid rgb(214, 214, 214);
	margin: 50px;
	padding: 10px;
	text-align: center;
}

.show-cv {
	padding: 5px;
	background-color: #9336b4;
	border: 3 px solid red;
}

.card-img-container {
	position: relative;
	overflow: hidden;
}

.card-img {
	width: 100%;
	height: auto;
	transition: transform 0.5s;
}

.card-img-container:hover .overlay {
	height: 100%; /* Expand the overlay from bottom to top on hover */
}

.card-img-container:hover .card-img {
	transform: scale(1.1); /* Enlarge the image on hover */
}
.overlay {
	position: absolute;
	text-align: center;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0; /* Set the initial height to 0 to hide the overlay */
	background-color: rgba(
		0,
		0,
		0,
		0.86
	); /* Change to your desired overlay color and opacity */
	color: white; /* Text color for overlay content */

	transition: height 0.5s;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}
.overlay-text {
	font-size: 16px;
}

/* ========== OVERALL SECTION  STYLES  ========== */

/* ========== ABOUT ME SECTION  STYLES  ========== */

.paragraph {
	color: rgb(244, 243, 245);
}

.custom-button {
	padding: 5px;
	border-radius: 10px;

	color: whitesmoke;
}

.custom-button:hover {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* ========== ABOUT ME SECTION  STYLES  ========== */

/* ========== FOOTER STYLES  ========== */
.devicons {
	font-size: 80px;
}

.contact-section {
	background-color: #9336b4;
}

.show-cv a:hover {
	background-color: #9336b4;
}

/* ========== FOOTER STYLES  ========== */
